requests
beautifulsoup4
selenium
pandas
numpy<2.0 #numpy
openai
chromadb==0.4.22 #chromadb
python-dotenv
streamlit 
#pysqlite3-binary # works only on linus, remove if not on linus, was added for deployment on streamlit    